:root {
    --light-text: white;
    --light-theme: #D3D5D7;
    --light-button: #628277;
    --hover-light-theme: #a7a9aa;
    --hover-light-button: #79a193;
    /*  */
    --dark-text: black;
    --dark-theme: #454545;
    --dark-button: #374A67;
    --hover-dark-theme: #575757;
    --hover-dark-button: #4a648a;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 14px;
    font-weight: 400;
}

*:focus {
    outline: none
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: var(--light-text);
}

#app {
    width: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 20px;
}



/** Calendar Styles **/
.calendar-side {
    padding: 20px;
    /* display: flex; */
    background-color: var(--light-theme);
    box-shadow: 2px 0 4px rgba(73, 52, 52, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#calendar-weekdays,
#calendar-days {
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    /* float: left; */
}

.weekday {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-text);
    float: left;
    width: calc(100% / 7);
    display: grid;
    place-items: center;
}

.day {
    text-align: center;
    font-size: 14px;
    color: var(--dark-text);
    border: 2px solid var(--dark-button);
    padding: 5px;
    border-radius: 5px;
}

.day:hover {
    background-color: var(--hover-dark-button);
    color: var(--light-text);
    transition: 0.3s;
    cursor: pointer;
}

.day.current-day {
    background-color: var(--light-button);
    color: var(--light-text);
}

.day.selected-day {
    background-color: var(--dark-button);
    color: var(--light-text);
}

/** New Task Form Styles **/
.hidden {
    display: none !important;
    /*Normalde display:flex olan zıkkımla çalışmıyor. o yüzden important ekle. Ki override yaparak flexin otoritesini devralsın saklasın*/
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.fa-sharp fa-solid fa-scissors {
    background-color: #ccc;
}

.tag-model-container {
    background: var(--light-text);
    padding: 20px;
    border-radius: 5px;
    width: auto;
}

.form-item {
    height: fit-content;
    position: relative;
    margin: 10px 15px 5px 0;
}

.form-item input {
    padding: 10px 0 0 10px;
    margin: 10px 0px;
    width: 420px;
    height: 50px;
    border: solid 2px var(--dark-button);
    border-radius: 8px;
    display: block;
    transition: all .3s ease;
}

.form-item input:focus {
    border-color: var(--hover-dark-button)
}

.form-item label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: -10px;
    left: 10px;
    font-weight: bold;
    background: var(--light-text);
    padding: 0 10px;
    color: #999;
}

.form-item input:focus+label,
.form-item input:valid+label {
    font-size: 11px;
    top: -5px
}

.form-item input:focus+label {
    color: var(--dark-button);

}

/* right click menu */
.menu ul {
    list-style-type: none;
    margin: 2px;
}

.menu ul li {
    padding: 5px;
    height: 20px;
    color: var(--light-text);
}

.menu {
    position: absolute;
    background-color: var(--dark-theme);
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(44, 44, 44, 0.493);
    padding: 5px 6px;
    max-width: 200px;
    color: var(--light-text);
    font-size: 14px;
    transition: 120ms transform ease-in-out;
}

.menu input[type="checkbox"] {
    appearance: none;
    background-color: var(--light-text);
    margin: 3px 0px;
    font: inherit;
    /**yeni bir şey waow */
    width: 1.15em;
    height: 1.15em;
    border: 2px solid var(--dark-button);
    border-radius: 8px;
    transform: translateY(-0.075em);
    display: grid;
    /** silince check gidiyor, kendimiz şekili konumlandırdığımız için*/
    place-content: center;
}

#last-row-menu input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#last-row-menu input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid var(--dark-theme);
    outline-offset: max(2px, 0.15em);
}

#last-row-menu input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    /* check işaretini çizdir */
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.menu label,
.menu li,
.menu ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 2px 0;
    padding: 4px 8px;
    border-radius: 8px;
    transition: 0.2s ease, 0.2s ease;
    cursor: pointer;
}

.menu label:hover,
.menu ul li:hover {
    background-color: var(--hover-light-theme);
    color: var(--dark-theme);
    cursor: pointer;
}

/** Genneral Styles **/
select {
    padding: 10px;
    border: 2px solid var(--dark-button);
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    margin: 0px 10px 0px 0px;
    background-color: var(--dark-button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-dark-button);
}

/* SESSİON SİDE TABLE PROPERTİES */
.session-side {
    padding: 20px;
    /* flex: 1; */
    position: relative;
}

.tags-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#session-table-container {
    margin-top: 20px;
}

table {
    background: var(--light-theme);
    border-radius: 5px;
    /** doesnt stickt each other rows and columns*/
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

thead {
    columns: 4;
}

th {
    border-bottom: 3px solid var(--dark-theme);
    color: var(--dark-button);
    font-weight: 900;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    position: relative;
    /* Make the <td> a positioned container */
    color: var(--dark-text);
    padding: 0.65em 1em;
}

tbody tr {
    transition: background 0.5s ease;
}

tbody tr:hover,
td:hover {
    background: var(--hover-light-theme);
}



#last-row td {
    background-color: var(--light-button);
}

.note-text {
    /* position: absolute;
    margin: 0px 10px;
    height: 80px;
    z-index: 10; */
    width: 90%;
    color: var(--dark-text);
    /* Ensure it appears on top of table rows */
    background-color: var(--hover-light-theme);
    border: 2px solid var(--hover-light-theme);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 8px 2px rgba(44, 44, 44, 0.493);
    resize: none;
    cursor: pointer;
}

.side-by-side {
    display: flex;
}

.time-item-label {
    height: fit-content;
    position: absolute;
    top: -12px;
    left: 0;
    background: var(--light-theme);
    padding: 0 4px;
    z-index: 2;
}

.time_input {
    width: 350px;
    border: 2px solid var(--dark-button);
    border-radius: 8px;
    color: var(--light-button);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    gap: 6px;
    position: relative;
}

.time_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: inherit;
}

.colon {
    position: relative;
    top: 20px;
    font-size: 25px;
    padding: 0 4px;
}

.time_input input {
    width: 40px;
    height: 25px;
    padding: 4px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time_input input:focus {
    outline: 2px solid var(--light-button);
}

.time_input input:focus+.label {
    color: var(--light-button);
}

.time_input input.invalid:focus {
    outline: 2px solid red;
}

.time_input input.invalid:focus+.label {
    color: red;
}

#error {
    width: 280px;
    position: relative;
    top: 170px;
    margin: 0 auto;
    color: red;
    visibility: hidden;
}