body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: #bbbbbb;
}

#app {
    width: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 20px;
}



/** Calendar Styles **/
.calendar-side {
    padding: 20px;
    /* display: flex; */
    background-color: #ffdddd;
    box-shadow: 2px 0 4px rgba(73, 52, 52, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#calendar-weekdays,
#calendar-days {
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    /* float: left; */
}

.weekday {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #640000;
    float: left;
    width: calc(100% / 7);
    display: grid;
    place-items: center;
}

.day {
    text-align: center;
    font-size: 14px;
    color: #000000;
    border: 2px solid #640000;
    padding: 5px;
    border-radius: 5px;
}

.day:hover {
    background-color: #640000;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.day.current-day {
    background-color: #640000;
    color: #ffffff;
}

.day.selected-day {
    background-color: #a37676;
    color: #ffffff;
}

/** Session Styles **/
.session-side {
    padding: 20px;
    /* flex: 1; */
    position: relative;
}

.tags-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#session-table-container {
    margin-top: 20px;
}

#last-row td {
    background-color: #640000;
}

#toggler {
    /* position: absolute;
    transform: translateY(-50%);
    cursor: pointer; */
}

.fa-sharp fa-solid fa-eye {
    background-color: #ccc;
}

#start-session,
#end-session {
    /* margin: 20px; */

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* .modal {
    display: none;
} */

.hidden {
    display: none;
}

.tag-model-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: auto;
}

*,
*:focus {
    outline: none
}


.form-item {
    position: relative;
    margin-bottom: 15px
}

.form-item input {
    display: block;
    width: 400px;
    height: 40px;
    background: transparent;
    border: solid 1px #ccc;
    transition: all .3s ease;
    padding: 0 15px
}

.form-item input:focus {
    border-color: #640000
}

.form-item label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #f5f5f5;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

.form-item input:focus+label,
.form-item input:valid+label {
    font-size: 11px;
    top: -5px
}

.form-item input:focus+label {
    color: #640000;

}

.menu ul {
    list-style-type: none;
    margin: 2px;
}

.menu ul li {
    padding: 5px;
    color: white;
}

.menu {
    position: absolute;
    background-color: #640000;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 5px 6px;
    max-width: 180px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: 120ms transform ease-in-out;
}

.menu input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    /**yeni bir şey waow */
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #c45d5d;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    /** silince check gidiyor, kendimiz şekili konumlandırdığımız için*/
    place-content: center;
}

#last-row-menu input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#last-row-menu input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid #610000;
    outline-offset: max(2px, 0.15em);
}

#last-row-menu input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    /* check işaretini çizdir */
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.menu label,
.menu li,
.menu ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 2px 0;
    padding: 4px 8px;
    border-radius: 5px;
    transition: 0.2s ease, 0.2s ease;
    cursor: pointer;
}

.menu label:hover,
.menu ul li:hover {
    background-color: #7c1b1b;
    cursor: pointer;
}

/** Genneral Styles **/
select {
    padding: 10px;
    font-size: 14px;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
}

button {
    font-size: 16px;
    padding: 10px 15px;
    /* margin: 10px 0px; */
    background-color: #640000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8c0000;
}

input {
    font-size: 16px;
    padding: 5px;
    margin: 10px 0px;
    width: 80%;
    border: 2px solid #640000;
    border-radius: 5px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    background: #390101;
    border-radius: 5px;
    /** doesnt stickt each other rows and columns*/
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

thead {
    columns: 4;
}

th {
    border-bottom: 1px solid #433636;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}

tbody tr {
    column-width: 10% 30% 30% 30%;
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: #551c1c;
}